.header {
    background-color: #000;
    height: 4rem;

    .links {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 4rem;

        &-list {
            display: flex;
            align-items: center;
            gap: 5rem;
            padding: 0 2rem;

            &-items {
                font-size: 23px;

                a {
                    position: relative;
                    color: white;
                    font-weight: bold;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 0;
                        border: 1px solid black;
                        bottom: 0;
                        transition: all .3s ease-in-out;
                    }

                    &:hover::after {
                        width: 100%;
                        border: 1px solid white;
                    }


                }
            }
        }
    }
}

.menuMobile {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    animation: all .7s ease-in-out;

    .listLinksMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        gap: 2rem;
        font-size: 28px;

        &-items {


            &-link {
                color: white;
            }
        }
    }
}